Source: cutie-browser
Section: libs
Maintainer: Erik Inkinen <erik.inkinen@gmail.com>
Priority: optional
Build-Depends: pkg-kde-tools,               
               cmake,
               libgles-dev,
               linguist-qt6,
               libxkbcommon-dev,
               qt6-base-dev,
               pkg-config,
               qt6-declarative-dev,
               qt6-tools-dev-tools,
               qt6-tools-dev,
               qt6-tools-private-dev,
               qml6-module-qtwebengine-controlsdelegates,
               qt6-webengine-dev
Standards-Version: 4.5.1

Package: cutie-browser
Architecture: any
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
${misc:Depends}, ${shlibs:Depends}, qml6-module-cutie, qml6-module-qtquick-localstorage, qml6-module-qtwebengine, qml6-module-qtwebengine-controlsdelegates
Description: This package contains Cutie's default browser.

